{
    "rotation":"file_id",
    "sale":"file_id",
    "token":"259848345:AAHTP93gFJZA-kqUrVXvoNc944OL0UjBirM",
    "token_logbot":"259848345:AAHTP93gFJZA-kqUrVXvoNc944OL0UjBirM",
    "lol_api":"<API_KEY>",
    "botan_token":"259848345:AAHTP93gFJZA-kqUrVXvoNc944OL0UjBirM"
    "log":true,
    "admins":[
        208094932
    ],
    "beta":[
        0
    ],
    "muted":false
}
